<section class="container section">
  <div class="card mt-3 mb-3">
        <div class="card-header">
          {{#if edit}} 
              {{{logosObj.svgPapaDelRapDominicano}}}
          {{else}}
            {{{logosObj.svgAdd}}}
          {{/if}} 
          <h5 class="mb-0">{{#if edit}}Edi{{else}}Crea{{/if}}ción de categoría</h5>
        </div>
        <div class="card-body">
          <form
            method="POST"
            action="/admin-categories/{{#if edit}}edit{{else}}add{{/if}}" 
            class="form-save" 
          >
            <div class="form-group mb-2">
              <label for="name">Nombre de la categoría:</label>
              <input
                class="form-control form-control-sm required-field"
                type="text"
                id="name"
                name="name"
                {{#if edit}}value="{{category.name}}"{{/if}}
              />
            </div>
            <div class="mb-3">
              <label for="description">Descripción de la categoría:</label>
              <textarea 
                class="form-control form-control-sm required-field"
                id="description"
                rows="3"
                name="description"
              >{{category.description}}</textarea>
            </div>
            {{#if edit}}
              <input type="hidden" name="id" value="{{category.id}}" /> 
            {{/if}}
            <div class="buttons-container">
              <a href="/admin-categories" class="btn button">
                Volver atras
              </a>
              <button
                type="button"
                class="btn button ms-1"
                id="btn-save"
              >
                {{#if edit}}Edit{{else}}Cre{{/if}}ar categoria
              </button>
            </div>
          </form>
        </div>
      </div>
</section>